p{
  font-size: #40514E;
}
.top-container{
  background-color: #EAF6F6;
  position: relative;
  padding-top : 100px;
}
.skill-row{
  width: 50%;
  margin : 90px auto 100px auto;
  text-align: left;
}
.middle-container{
 margin : 100px 0;
}

.bottom-container{
  padding : 50px;
  margin-top : 50px;
  background-color: #66BFBF;
}

.bottom_cloud{
  position: absolute;
  left : 300px;
}
.top_cloud{
  position : absolute;
  right : 300px;
  top : 50px;
}
.myimage{
  border-radius: 100%;
  border: 3px solid #ddd;
  padding: 4px;
  width : 200px;
  height : 200px;
}
.area{
  text-decoration: underline;
}

.heading{
   color : #66BFBF;
   font-size: 70px;
   margin: 50px auto 0 auto;
}
.desc{
  color : #66BFBF;
  font-size: 20px;
  font-weight : normal;
}
.codegif{
  width : 25%;
  border-radius: 100%;
  float : right;
  margin-left: 30px;
}
.footballgif{
  width : 25%;
  border-radius: 50%;
  float : left;
  margin-right: 30px;
}

.btn{
  color : #11999E;
}
.copyright{
  padding-top: 20px;
  color : #EAF6F6;
  font-size: 0.90rem;
}
.hello{
  padding : 5px;
}
.intro{
  padding : 5px;
  width : 30%;
  margin : auto;
}
.contact-me{
  width : 40%;
  margin : 40px auto 60px;
}

.btn {
   background: #C6D2E1;
   background-image: -webkit-linear-gradient(top, #C6D2E1, #558BE1);
   background-image: -moz-linear-gradient(top, #C6D2E1, #558BE1);
   background-image: -ms-linear-gradient(top, #C6D2E1, #558BE1);
   background-image: -o-linear-gradient(top, #C6D2E1, #558BE1);
   background-image: -webkit-gradient(to bottom, #C6D2E1, #558BE1);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 14px;
   font-weight: 100;
   padding: 6px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #0E4695 1px;
   background: #BDCADF;
   background-image: -webkit-linear-gradient(top, #BDCADF, #115AA7);
   background-image: -moz-linear-gradient(top, #BDCADF, #115AA7);
   background-image: -ms-linear-gradient(top, #BDCADF, #115AA7);
   background-image: -o-linear-gradient(top, #BDCADF, #115AA7);
   background-image: -webkit-gradient(to bottom, #BDCADF, #115AA7);
   -webkit-border-radius: 0;
   -moz-border-radius: 0;
   border-radius: 0;
   text-decoration: none;
}

body{
    color : #40514E;
    margin : 0;
    text-align: center;
    font-family : 'Merriweather', serif;
}

h1{
  color : #11999E;
  font-family: 'Sacramento', cursive;
}

h2{
 color : #11999E;
 font-family: 'Merriweather', serif;
}

h3{
color : #11999E;
font-family: 'Merriweather', serif;
}

hr{
  margin : 100px auto;
  width : 5%;
  border : dotted #EAF6F6;
  border-width : 5px 0 0 0;
}

p{
  line-height: 2;
}
a{
  text-decoration: none;
  font-family : 'Merriweather', serif;
  margin : 20px 30px;
  color: #11999E;
}
a:hover{
  color : #EAF6F6;
}
